.card-thumbnail {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.card-thumbnail img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-thumbnail_btn {
    position: absolute;
    top: 5px;
    transition: 0.3s ease;
    right: -100px;
}

.card-thumbnail_btn button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    margin: 0;
    margin-bottom: 5px;
    opacity: 0.7;
    transition: 0.3s ease;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
}
.card-thumbnail_btn button:hover {
    transition: 0.3s ease;
    color: red;
}
.card-thumbnail_rating {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 25px;
    font-weight: 600;
    color: white;
}
.card-content {
    margin-top: 10px;
}
.card-title {
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    transition: 0.3s ease;
    margin-bottom: 5px;
}
.card-description {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    margin-top: 0;
}
.card-price {
    font-weight: 600;
    color: red;
    text-align: right;
    font-size: 20px;
}
.card-countryAndPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listProduct-card:hover .card-thumbnail .card-thumbnail_btn {
    right: 10px;
    transition: 0.3s ease;
}
.listProduct-card {
    display: block;
    text-decoration: none;
    color: #333333;
    margin: 10px 0 20px 0;
}
.listProduct-card:hover {
    color: #333333;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 1px 1px 5px 3px black;
    margin-top: 1px;
}
.listProduct-card:hover .card-title {
    color: red;
    transition: 0.3s ease;
}
.listProduct-main {
    margin-top: 20px;
}

.listProduct-card {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s ease;
}
