.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px 0;
    z-index: 999;
    transition: 0.3s ease;
}
.header.scroll {
    transition: 0.3s ease;
    padding: 15px 0;
    background-color: black;
    opacity: 0.9;
}
.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navbar_list {
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
}
.header-navbar_item {
    padding: 5px;
    margin: 0 15px;
    list-style: none;
}
.header-navbar_link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
}
.header-navbar_link:hover {
    transition: 0.3s ease;
    text-decoration: none;
    color: red;
    opacity: 0.8;
}
.header-navbar_icon i {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.header-navbar_account {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navbar_logo {
    text-decoration: none;
}
.header-navbar_logo:hover {
    text-decoration: none;
}
.navbar-account_signUp {
    color: white;
}
.header-navbar_logo span:first-child {
    font-size: 28px;
    font-weight: 900;
    color: white;
}
.header-navbar_logo span:nth-child(2) {
    font-size: 28px;
    font-weight: 900;
    color: red;
}
.navbar-account_cart {
    position: relative;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}
.navbar-account_cart-amount {
    position: absolute;
    top: -10px;
    right: -15px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    color: black;
    font-weight: 600;
    background-color: white;
}
.navbar-account_signUp {
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}
.navbar-account_signUp:hover {
    text-decoration: none;
    color: white;
}
#account {
    position: relative;
}
#account:hover .account-controls {
    transition: 0.3s ease;
    transform: scale(1);
}
.account-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.account-name {
    color: white;
    font-weight: 600;
}
.account-controls {
    position: absolute;
    top: 32px;
    padding: 0;
    background-color: white;
    padding: 15px 5px 15px 15px;
    width: 200px;
    border-radius: 20px;
    transition: 0.3s ease;
    transform: scale(0);
}
.account-controls::before {
    content: "";
    position: absolute;
    top: -32px;
    left: 20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
    border-top: 20px solid transparent;
}
.account-controls::after {
    content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    width: 100%;
    background-color: transparent;
    height: 20px;
}
.account-controls li {
    list-style: none;
    margin: 5px 0;
}
.account-controls li a {
    text-decoration: none;
    transition: 0.3s ease;
    color: #333333;
    cursor: pointer;
}
.account-controls li a:hover {
    transition: 0.3s ease;
    text-decoration: none;
    color: red;
}
