.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px 0;
    z-index: 999;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navbar_list {
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
}
.header-navbar_item {
    padding: 5px;
    margin: 0 15px;
    list-style: none;
}
.header-navbar_link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s ease;
}
.header-navbar_link:hover {
    transition: 0.3s ease;
    text-decoration: none;
    color: red;
    opacity: 0.8;
}
.header-navbar_icon i {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.header-navbar_account {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navbar_logo {
    text-decoration: none;
}
.header-navbar_logo:hover {
    text-decoration: none;
}
.header-navbar_logo span:first-child {
    font-size: 28px;
    font-weight: 900;
    color: white;
}
.header-navbar_logo span:nth-child(2) {
    font-size: 28px;
    font-weight: 900;
    color: red;
}
.navbar-account_cart {
    position: relative;
    margin-right: 20px;
    color: white;
}
.navbar-account_cart-amount {
    position: absolute;
    top: -10px;
}
.carousel-item img {
    height: 100vh;
}
.navbar-account_signUp {
    color: white;
}
.how-order {
    padding: 20px 0;
}
.how-order_title {
    margin: 20px 0 60px 0;
    text-align: center;
}
.how-order_title p {
    margin-bottom: 5px;
    color: orange;
    font-size: 16px;
}
.how-order_title h1 {
    margin-top: 5px;
    font-size: 48px;
}
.how-order_step {
    position: relative;
    text-align: center;
}
.how-order_step--number {
    position: absolute;
    top: -10px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
    border: 5px solid #ff524e;
}
.how-order_description {
    text-align: center;
    transition: 0.3s ease;
    margin-top: 15px;
    font-weight: 600;
}
.how-order_step:hover .how-order_step--number {
    background-color: #ff524e;
    color: white;
    border: 5px solid white;
    transition: 0.3s ease;
}
.how-order_step:hover .how-order_description {
    transition: 0.3s ease;
    color: orange;
    opacity: 0.8;
}
.popular-item {
    border-radius: 30px;
    overflow: hidden;
}
.popular-item_thumbnail {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.3s ease;
    left: 0;
    bottom: 0;
    background-color: rebeccapurple;
    z-index: 10;
    opacity: 0;
}
.popular-item:hover .overlay {
    transition: 0.3s ease;
    opacity: 0.5;
}
.popular-item_thumbnail img {
    transform: scale(1);
    transition: 0.3s ease;
    width: 100%;
}
.popular-item:hover .popular-item_thumbnail img {
    transform: scale(1.2);
    transition: 0.3s ease;
}
.popular-item_icons {
    display: flex;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 20;
}
.popular-item_icons span:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 45px;
    height: 45px;
    border: 5px solid #ffbd2f;
    cursor: pointer;
    transform: rotate(45deg) scale(0);
    margin-right: 20px;
    transition: 0.3s ease;
}
.popular-item_icons span:first-child i {
    transform: rotate(-45deg);
}
.popular-item_icons span:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 45px;
    height: 45px;
    border: 5px solid #ffbd2f;
    cursor: pointer;
    transition: 0.3s ease;
    transform: rotate(45deg) scale(0);
}
.popular-item_icons span:last-child i {
    transform: rotate(-45deg);
}
.popular-item_icons span:hover {
    background-color: #ffbd2f;
}
.popular-item:hover .popular-item_icons span {
    transform: rotate(45deg) scale(1);
    transition: 0.3s ease;
}
.popular-item:hover .popular-item_icons span:last-child {
    transition-delay: 0.2s;
}
