* {
    font-family: "Roboto Slab", sans-serif;
}

.banners {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url("../image/banners.jpg");
}
.banners-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banners-title h1 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
}
.banners-links a {
    text-decoration: none;
    color: white;
    margin: 0 4px;
    transition: 0.3s ease;
}
.banners-links a:last-child {
    color: red;
}
.banners-links a:hover {
    transition: 0.3s ease;
    color: red;
}
.banners-links span {
    color: white;
    margin: 0 2px;
}
.shop {
    padding: 50px 0;
}
.shop-categories_image {
    width: 30px;
    height: 30px;
}
.shop-categories_list {
    padding: 0;
}
.shop-categories_item {
    list-style: none;
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}
.shop-categories_item.active {
    transition: 0.3s ease;
    box-shadow: 1px 1px 3px 1px #d9d9d9;
}
.shop-categories_item:hover {
    transition: 0.3s ease;
    box-shadow: 1px 1px 3px 1px #d9d9d9;
}
.shop-categories_title {
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}
.shop-filterPrice_item {
    font-size: 15px;
    margin: 10px 0;
}
.shop-filterPrice_item span {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    transition: 0.3s ease;
    border-radius: 50%;
    margin-right: 10px;
}
.shop-filterPrice_item span.active {
    background-color: red;
}
.shop-filterPrice_item span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    background: transparent;
    border: 2px solid #d9d9d9;
    border-radius: 50%;
}
.shop-filterPrice {
    margin-bottom: 20px;
}
.shop-filterRating_item {
    color: yellow;
    cursor: pointer;
}
.shop-filterRating_item--color {
    color: red;
    font-weight: 600;
    transition: 0.3s ease;
}
.shop-filterRating_item--color:hover {
    transition: 0.3s ease;
    opacity: 0.6;
}
.listProduct-searchBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.searchBar-wrap {
    position: relative;
    width: 60%;
}
.searchBar-wrap input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #d9d9d9;
}
.searchBar-icons {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    color: #d9d9d9;
}
.filter-wrap {
    width: 30%;
}
.filter-wrap select {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #d9d9d9;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-left: 2rem;
}
.grid-wrap {
    font-size: 24px;
}
.grid-wrap i.active {
    color: red;
}
