circle {
    transform-origin: center;
    transform-box: fill-box;
    transform-origin: center;
    animation: rotate linear infinite;
}
circle:nth-child(1) {
    animation-duration: 1.6s;
}
circle:nth-child(2) {
    animation-duration: 1.2s;
}
circle:nth-child(3) {
    animation-duration: 0.8s;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
.center-spinners {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
    display: none;
    z-index: 9999;
}
svg {
    width: 100px;
    height: 100px;
}

.showImage-reader {
    object-fit: cover;
}
.image-product {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
#pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}
.page-link {
    padding: 10px 14px !important;
}
#inputNameCategory {
    width: 100%;
    margin-bottom: 20px;
    background-color: #738fa5;
    outline: none;
    border: none;
    color: white;
    padding: 10px 12px;
}

#inputNameCategory::placeholder {
    color: white;
}
.tm-block-product-categories {
    min-height: 100% !important;
}
#pd10 {
    padding: 10px !important;
}
.file-input {
    width: 100%;
}
.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #4E657A;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label svg {
    height: 16px;
    margin-right: 4px;
}
.image-categories {
    width: 40px;
    height: 40px;
}
